.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--sea-green);
  background-color: #fff;
  position: relative;
  margin: 20px 30px;
  padding: 20px 20px;
  border-radius: 10px;
}

.card-question {
  padding: 20px;
  text-align: center;
  font-weight: var(--semi-bold);
}

.card-answer-button {
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--dark-green);
  color: #fff;
  border: 2px solid var(--dark-green);
  font-size: 1rem;
  font-weight: var(--bold);
}

.bookmark-img,
.bookmark-img--selected {
  position: absolute;
  top: -20px;
  right: -20px;
}

.bookmark-img:hover,
.bookmark-img--selected:hover {
  transform: scale(1.2);
}

.main-tag {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 5px;
}

.tag {
  border-radius: 10%;
  padding: 2px 3px;
  font-size: smaller;
  font-weight: var(--semi-bold);
}

.tag-git {
  background-color: #857ff7;
}
.tag-html {
  background-color: #c95cc6;
}
.tag-css {
  background-color: #f6db60;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 1px 3px;
  font-family: monospace;
}
