.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--sea-green);
}
.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 30px;
}

.footer-link {
  list-style: none;
  padding: 5px;
}

.footer-link:hover {
  transform: scale(1.2);
}
